* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: linear-gradient(#10002b, #3c096c);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    width: 860px;
    height: 520px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}


.plank,
.plank * {
    pointer-events: none !important;
}


.linkDiv {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    height: 10%;
    z-index: 2000;
}

.linkDiv a {
    width: 10vw;
    height: 10vh;
}

h1,
p {
    color: black;
    font-family: playfair display;
}

.one {
    background-color: aliceblue;
}

/*project one div styling*/

.projectOneImage {
    margin: 10px;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectOneImage img {
    box-shadow: 5px 10px #000;
}

.project1 {
    background-color: aliceblue;
    width: 45vw;
    height: 35vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    align-items: center;
}

.projectOneText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 10px;
}

/*project two div styling*/

.project2 {
    display: none;
    background-color: aliceblue;
    width: 45vw;
    height: 35vh;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    align-items: center;
}

.projectTwoImage {
    margin: 10px;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectTwoImage img {
    box-shadow: 5px 10px #000;
    margin: 5px;
}


/* project three div styling */
.project3 {
    display: none;
    background-color: aliceblue;
    width: 45vw;
    height: 35vh;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    align-items: center;
}

.projectThreeImage {
    margin: 10px;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectTwoImage img {
    box-shadow: 5px 10px #000;
}
