* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#10002b, #3c096c);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.petal {
    width: 100px;
    height: 100px;
    background: hsla(274, 100%, 33%, 1);

    background: linear-gradient(0deg, hsla(274, 100%, 33%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(274, 100%, 33%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);

    background: -webkit-linear-gradient(-50deg, hsla(274, 100%, 33%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#5E00A8", endColorstr="#EA5459", GradientType=1);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.one {
    transform: rotate(180deg);
}

.one:hover {
    transform: rotate(180deg) scale(1.2);
}

.two {
    transform: rotate(270deg);
}

.three {
    transform: rotate(90deg);
}

.circle {
    height: 50px;
    width: 50px;
    background: hsla(358, 78%, 62%, 1);

    background: radial-gradient(circle, hsla(358, 78%, 62%, 1) 3%, hsla(300, 63%, 42%, 1) 61%);

    background: -moz-radial-gradient(circle, hsla(358, 78%, 62%, 1) 3%, hsla(300, 63%, 42%, 1) 61%);

    background: -webkit-radial-gradient(circle, hsla(358, 78%, 62%, 1) 3%, hsla(300, 63%, 42%, 1) 61%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EA5459", endColorstr="#AF28AF", GradientType=1);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.stem {
    display: flex;
    justify-content: end;
    width: 19.5vw;
    height: 45vh;
    position: fixed;
    bottom: 0;
    z-index: -2;
}