* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: linear-gradient(#10002b, #3c096c);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    width: 860px;
    height: 520px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.plank,
.plank * {
    pointer-events: none !important;
}


.linkDiv {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    height: 10%;
    z-index: 2000;
}

.linkDiv a {
    width: 10vw;
    height: 10vh;
}